* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Barlow Condensed", sans-serif;
  color: #505050;
}

img {
  width: 100%;
  display: block;
}

.container {
  width: 80%;
  margin: 0 auto;
  position: relative;
}

a {
  text-decoration: none;
}

.top-bar {
  background-color: #0282F9;
  color: #FFFFFF;
  text-align: right;
  padding: 10px 0 9px;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 500;
}

.top-bar span {
  margin-left: 50px;
  text-transform: uppercase;
  cursor: pointer;
}

nav {
  background-color: #FFFFFF;
  color: #505050;
}

nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .container .logo-container {
  width: 90px;
}

nav .container .menu {
  list-style-type: none;
}

nav .container .menu li {
  display: inline-block;
  line-height: 115px;
  margin: 0 20px;
  cursor: pointer;
}

nav .container .menu li.active {
  border-bottom: 5px solid #0282F9;
}

nav .container .menu li.active a {
  color: #0282F9;
}

nav .container .menu li:hover {
  border-bottom: 5px solid #0282F9;
}

nav .container .menu li:hover a {
  color: #0282F9;
}

nav .container .menu li a {
  color: #505050;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 17px;
}

nav .container .menu li a i {
  color: #0282F9;
  margin-left: 5px;
}

nav .container .input-container {
  position: relative;
}

nav .container .input-container input {
  border: 0;
  outline: 0;
  border-bottom: 3px solid #0282F9;
  padding: 5px 30px 5px 20px;
}

nav .container .input-container input::-moz-placeholder {
  color: #505050;
  text-align: right;
  font-weight: 600;
}

nav .container .input-container input:-ms-input-placeholder {
  color: #505050;
  text-align: right;
  font-weight: 600;
}

nav .container .input-container input::placeholder {
  color: #505050;
  text-align: right;
  font-weight: 600;
}

nav .container .input-container i {
  position: absolute;
  top: 5px;
  right: 5px;
}

.banner {
  height: 315px;
  background-image: url("/img/jumbotron.jpg");
  background-position: center top;
  background-size: cover;
}

.series {
  background-color: #1C1C1C;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: center;
}

.series .container {
  position: relative;
  padding: 60px 0 30px;
}

.series .container .title {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background-color: #0282F9;
  padding: 15px 30px;
  position: absolute;
  top: -29px;
  left: 0;
}

.series .container .series-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.series .container .series-container .serie {
  width: calc(100% / 6 - 20px);
  margin-bottom: 30px;
}

.series .container .series-container .serie .poster-container {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
  overflow: hidden;
}

.series .container .series-container .serie .poster-container:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.series .container .series-container .serie .poster-container img {
  transition: transform 0.5s;
}

.series .container .series-container .serie:hover img {
  transform: scale(1.05);
}

.series .container .series-container .serie .serie-name {
  color: #FFFFFF;
  margin-top: 10px;
  text-align: left;
}

.series .container .filled-btn {
  display: inline-block;
  background-color: #0282F9;
  color: #FFFFFF;
  text-decoration: none;
  padding: 10px 50px;
  font-weight: 500;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  transition: background-color 0.5s;
}

.series .container .filled-btn:hover {
  background-color: #2193fd;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
}

.series .bottom-banner {
  background-color: #0282F9;
  padding: 40px 10px;
}

.series .bottom-banner ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.series .bottom-banner ul li {
  width: calc(100% / 5 - 20px);
  cursor: pointer;
  filter: brightness(0.85);
  transition: filter 0.5s;
}

.series .bottom-banner ul li:hover {
  filter: brightness(1);
}

.series .bottom-banner ul li img {
  width: auto;
  height: 70px;
  display: inline-block;
  vertical-align: middle;
}

.series .bottom-banner ul li a {
  color: #FFFFFF;
  margin-left: 10px;
  text-transform: uppercase;
}

.single-serie-details .container {
  width: 55%;
  min-width: 800px;
}

.top-banner {
  height: 75px;
  background-color: #0282F9;
}

.top-banner .poster-frame {
  width: 200px;
  border: 2px solid #FFFFFF;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  position: relative;
  bottom: 265px;
  left: 0;
}

.top-banner .poster-frame .serie-type {
  position: absolute;
  top: 0;
  left: 0;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #00A9D9;
  padding: 1px 5px 2px;
}

.top-banner .poster-frame .view-gallery {
  text-transform: uppercase;
  text-align: center;
  background-color: #00A9D9;
  padding: 1px 0 2px;
}

.top-banner .poster-frame .view-gallery a {
  color: #FFFFFF;
}

.top-banner .poster-frame .view-gallery a:hover {
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.7);
}

.info-top .container {
  display: flex;
  padding: 50px 0;
}

.info-top .container .general-info {
  width: 65%;
  margin-top: 15px;
}

.info-top .container .general-info h1 {
  font-size: 28px;
  text-transform: uppercase;
  color: #003F5E;
  margin-bottom: 15px;
}

.info-top .container .general-info .availability {
  background-color: #55BA59;
  color: #FFFFFF;
  display: flex;
  border-bottom: 1px solid #357739;
  margin-bottom: 12px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
}

.info-top .container .general-info .availability .price {
  padding: 10px 20px;
  flex-grow: 1;
}

.info-top .container .general-info .availability .price span {
  opacity: 0.75;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}

.info-top .container .general-info .availability .price .result {
  float: right;
}

.info-top .container .general-info .availability .check-available {
  padding: 10px 20px;
  border-left: 1px solid #357739;
  cursor: pointer;
}

.info-top .container .general-info .availability .check-available i {
  font-size: 10px;
  position: relative;
  bottom: 2px;
  left: 2px;
  margin-right: 3px;
}

.info-top .container .general-info p {
  line-height: 22px;
}

.info-top .container .adv-banner {
  width: 35%;
  padding-left: 30px;
  text-align: right;
  font-weight: 600;
  cursor: pointer;
}

.info-top .container .adv-banner span {
  display: inline-block;
  margin-bottom: 5px;
}

.info-bottom {
  background-color: #F6F6F6;
  border-top: 1px solid #e5e5e5;
}

.info-bottom > .container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 90px;
}

.info-bottom > .container .talents-info,
.info-bottom > .container .specs-info {
  width: calc(50% - 20px);
  font-size: 15px;
}

.info-bottom > .container .talents-info > *,
.info-bottom > .container .specs-info > * {
  border-bottom: 1px solid #e5e5e5;
  color: #003F5E;
  padding: 7px 0;
}

.info-bottom > .container .talents-info h3,
.info-bottom > .container .specs-info h3 {
  color: #003F5E;
  padding: 25px 0;
  font-size: 20px;
}

.info-bottom > .container .talents-info .artists-container,
.info-bottom > .container .talents-info .writers-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.info-bottom > .container .talents-info .artists-container span,
.info-bottom > .container .talents-info .writers-container span {
  width: 30%;
  height: 100%;
}

.info-bottom > .container .talents-info .artists,
.info-bottom > .container .talents-info .writers {
  width: 70%;
  font-size: 14px;
  line-height: 15px;
}

.info-bottom > .container .talents-info .artists a,
.info-bottom > .container .talents-info .writers a {
  color: #00A9D9;
}

.info-bottom > .container .talents-info .artists a:hover,
.info-bottom > .container .talents-info .writers a:hover {
  color: #0282F9;
}

.info-bottom > .container .specs-info .serie-series-name a,
.info-bottom > .container .specs-info .price,
.info-bottom > .container .specs-info .date {
  color: #505050;
  width: 70%;
  float: right;
}

.info-bottom > .container .specs-info .serie-series-name a {
  color: #00A9D9;
  text-transform: uppercase;
}

.info-bottom > .container .specs-info .serie-series-name a:hover {
  color: #0282F9;
}

.info-bottom .large-container {
  width: 100%;
  border-top: 1px solid #e5e5e5;
}

.info-bottom .large-container .container {
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
}

.info-bottom .large-container .container .bottom-banner {
  list-style-type: none;
  display: flex;
}

.info-bottom .large-container .container .bottom-banner li:not(:last-child) {
  border-right: 1px solid #e5e5e5;
}

.info-bottom .large-container .container .bottom-banner li {
  display: inline-block;
  width: calc(100% / 4);
  justify-content: space-between;
  padding: 10px;
}

.info-bottom .large-container .container .bottom-banner li .single-banner {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.info-bottom .large-container .container .bottom-banner li .single-banner:hover img {
  filter: brightness(0.4);
}

.info-bottom .large-container .container .bottom-banner li .single-banner:hover a {
  color: #505050;
}

.info-bottom .large-container .container .bottom-banner li .single-banner a {
  color: #A5A5A5;
  font-weight: 500;
  text-transform: uppercase;
  transition: color 0.5s;
}

.info-bottom .large-container .container .bottom-banner li .single-banner img {
  display: inline-block;
  height: 50px;
  width: auto;
  filter: brightness(0.85);
  vertical-align: text-bottom;
  transition: filter 0.5s;
}

.top-footer {
  background-image: url("/img/footer-bg.jpg");
  background-size: cover;
  overflow: hidden;
}

.top-footer .container {
  position: relative;
  padding: 40px 0;
}

.top-footer .container .footer-links {
  display: flex;
  flex-wrap: wrap;
}

.top-footer .container .footer-links .links-column {
  margin-right: 35px;
}

.top-footer .container .footer-links .links-column h3 {
  color: #FFFFFF;
  font-size: 20px;
  margin-bottom: 10px;
}

.top-footer .container .footer-links .links-column ul {
  list-style-type: none;
}

.top-footer .container .footer-links .links-column ul li {
  margin-bottom: 5px;
}

.top-footer .container .footer-links .links-column ul li a {
  color: #A5A5A5;
}

.top-footer .container .footer-links .links-column ul li a:hover {
  color: #0282F9;
}

.top-footer .container .footer-links .links-column .links-subcolumn {
  margin-top: 20px;
}

.top-footer .container img {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 600px;
}

.top-footer .container p {
  color: #A5A5A5;
  margin-top: 20px;
}

.top-footer .container p a {
  color: #0282F9;
}

.bottom-footer {
  background-color: #303030;
  padding: 20px 0 25px;
  text-transform: uppercase;
}

.bottom-footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottom-footer .container .empty-btn {
  display: inline-block;
  background-color: transparent;
  color: #FFFFFF;
  text-decoration: none;
  padding: 10px;
  font-weight: 500;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  border: 2px solid #0282F9;
  font-size: 20px;
  transition: background-color 0.5s;
}

.bottom-footer .container .empty-btn:hover {
  background-color: #0282F9;
}

.bottom-footer .container .social-links h2 {
  display: inline-block;
  color: #0282F9;
  margin-right: 20px;
  font-size: 22px;
}

.bottom-footer .container .social-links i {
  color: #303030;
  text-align: center;
  line-height: 30px;
  font-size: 20px;
  background-color: #A5A5A5;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-left: 10px;
  cursor: pointer;
  transition: background-color 0.5s;
}

.bottom-footer .container .social-links i:hover {
  background-color: #FFFFFF;
}

