* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Barlow Condensed', sans-serif;
}

img {
    width: 100%;
    display: block;
}

.container {
    width: 75%;
    margin: 0 auto;
}
