.top-bar {
    background-color: $primary_color;
    color: $primary_text;
    text-align: right;
    padding: 10px 0 9px;
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-weight: 500;

    span {
        margin-left: 50px;
        text-transform: uppercase;
        cursor: pointer;
    }
}

nav {
    background-color: $primary-text;
    color: $secondary_text;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo-container {
            width: 80px;
        }

        .menu {
            list-style-type: none;

            li {
                display: inline-block;
                line-height: 115px;
                margin: 0 20px;
                cursor: pointer;

                &.active {
                    border-bottom: 5px solid $primary_color;
                }

                &.active a {
                    color: $primary_color;
                }

                &:hover {
                    border-bottom: 5px solid $primary_color;
                }

                &:hover a {
                    color: $primary_color;
                }

                a {
                    color: $secondary_text;
                    text-transform: uppercase;
                    font-weight: 500;
                    font-size: 17px;

                    i {
                        color: $primary_color;
                        margin-left: 5px;
                    }
                }
            }
        }

        .input-container {
            position: relative;

            input {
                border: 0;
                outline: 0;
                border-bottom: 3px solid $primary_color;
                padding: 5px 30px 5px 20px;

                &::placeholder {
                    color: $secondary_text;
                    text-align: right;
                    font-weight: 600;
                }
            }

            i {
                position: absolute;
                top: 5px;
                right: 5px;
            }
        }
    }
}

.banner {
    height: 315px;
    background-image: url("/img/jumbotron.jpg");
    background-position: center top;
    background-size: cover;
}
