$primary_color: #0282F9;
$bg_primary_color: #1C1C1C;
$bg_secondary_color: #303030;
$bg_tertiary_color: #F6F6F6;

$primary_text: #FFFFFF;
$secondary_text: #505050;
$tertiary_text: #003F5E;
$muted-text: #A5A5A5;
